/* Reset de estilos para un inicio limpio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales de la página */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0f0f0;
}

.container {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    flex: 1;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
}

.sidebar h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar p {
    font-size: 16px;
    margin: 5px 0;
}

.main {
    flex: 2;
    padding: 0 20px;
    text-align: center;
}

/* Estilos para la calculadora */
.calculator-title {
    font-size: 20px;
    font-weight: bold;
}

form {
    margin-top: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* Estilos específicos para los inputs de la calculadora */
input[type="number"] {
    width: 60%; /* Reducir el ancho de los inputs */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.result-container {
    margin-top: 30px;
}

.result-title {
    font-size: 18px;
    font-weight: bold;
}

.result-value {
    color: red;
    font-size: 16px;
    margin: 0;
}

.logo-container {
    text-align: center;
    margin-right: 200px;
    margin-top: 20px;
}

.logo {
    max-width: 10%;
    height: auto;
}

@media (max-width: 960px){
    .logo-container {
        margin-right: 0px;
    }
    
    .logo {
        max-width: 20%;
    }

    .container {
        flex-direction: column; /* Cambiar a dirección de columna */
        align-items: center; /* Centrar elementos horizontalmente */
    }

    .sidebar {
        margin-right: 0; /* Eliminar margen derecho para alinear en la columna */
    }

    /* Asegurar que los elementos de la columna principal estén centrados */
    .main {
        text-align: center;
    }

    /* Asegurar que los inputs tengan un ancho más pequeño */
    input[type="number"] {
        width: 100%; /* Ancho completo para dispositivos móviles */
    }
}