/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilos para el formulario y sus elementos */
.login-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el mensaje de error */
.error-message {
    font-size: 14px;
    color: red;
    text-align: center;
    margin-top: 10px;
}

.password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 40%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url('/media/icons8-invisible-50.png'); /* Cambia la ruta a tu imagen del icono de ojo */
    background-size: cover;
}

.eye-icon.active {
    background-image: url('/media/icons8-invisible-50.png'); /* Cambia la ruta a tu imagen del icono de ojo apagado */
}
